<div class="row">
  <div class="col-lg-12 text-left">
    <h1 ng-bind="currentItem.title">Hidden Figures</h1>
    <blockquote ng-bind="currentItem.tagline">Meet the women you don"t know, behind the mission you do.</blockquote>
  </div>
</div>
<div class="row main-row">
  <div class="col-lg-8">
    <div class="image-container">
      <!--<iframe id="mainvid" ng-src="{{currentItem.trailer}}"  frameborder="0" allowfullscreen></iframe>-->
      <!--<iframe id="mainvid" ng-src="{{trustSrc(currentItem.trailerEmbed)}}" frameborder="0" allowfullscreen></iframe>-->
      <img src="{{currentItem.imageMainBackdrop}}" alt="{{currentItem.title + ' Poster'}}" ng-cloak id="posterimage">
    </div>
  </div>
  <div class="col-lg-4">
<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
  <a href="#" ng-click="nextItem()" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add to list</a>
  <a href="#" ng-click="nextItem()" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>Skip</a>
  <a href="#" class="btn btn-primary" id="watchBtnID" data-title="Watched?" data-toggle="popover" data-placement="top" role="button"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Watched?</a>
</div>
    <p class="lead">Description</p>
    <p ng-bind="currentItem.plot">The incredible untold story of Katherine G. Johnson, Dorothy Vaughan and Mary Jackson - brilliant African-American women
      working at NASA, who served as the brains behind one of the greatest operations in history: the launch of astronaut
      John Glenn into orbit, a stunning achievement that restored the nation"s confidence, turned around the Space Race,
      and galvanized the world. The visionary trio crossed all gender and race lines to inspire generations to dream big.</p>
    <!--<div class="row">
      <div class="col-xs-6">
        <div class="checkbox">
          <label>
        <input type="checkbox" ng-model="currentItem.watched"> I"ve seen this movie
      </label>
        </div>
      </div>
      <div class="col-xs-6 text-right">
        <div ng-if="currentItem.watched">
          <div class="btn-group">
            <button type="button" class="btn btn-default" title="Hate that movie!" aria-label="Left Align"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" title="It"s fine" aria-label="Center Align"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
            <button type="button" class="btn btn-default" title="Like this!" aria-label="Right Align"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </div>-->


    <!--<div class="control-buttons">
      <button type="button" class="btn btn-primary" ng-click="prevItem()">
      <span class="glyphicon glyphicon-menu-left"></span> 
    </button>
      <button type="button" class="btn btn-primary" ng-click="nextItem()">
      <span class="glyphicon glyphicon-menu-right"></span> 
    </button>
    </div>-->

  </div>


</div>
<div class="row slider-row">
  <div class="col-xs-12">
    <!--<div class="your-class">
      <div class="slider-item">
        <div class="video-container">
          <iframe id="mainvid" src="https://youtube.com/embed/sGbxmsDFVnE" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="slider-item">
        <div class="video-container">
          <iframe id="mainvid" src="https://youtube.com/embed/oubRmV_9Ogo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="slider-item">
        <div class="video-container">
          <iframe id="mainvid" src="https://youtube.com/embed/NBTTipJX-h4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="slider-item">
        <div class="video-container">
          <iframe id="mainvid" src="https://youtube.com/embed/jWM0ct-OLsM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="slider-item">
        <div class="video-container">
          <iframe id="mainvid" src="https://youtube.com/embed/LKFuXETZUsI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="slider-item">
        <div class="video-container">
          <iframe id="mainvid" src="https://youtube.com/embed/oubRmV_9Ogo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>-->

  </div>
</div>