<div ng-init="getUserData();" ng-controller="PersonalCtrl">
    <div class="loader-container" ng-hide="dataLoaded">
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <div class="overlay">
        </div>
    </div>
    <div class="row movie-grid">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 movie-grid__movie" ng-repeat="movie in items">
            <img ng-src="{{trustSrc('https://image.tmdb.org/t/p/w780/' + movie.posters[0].file_path)}}" alt="" class="movie-grid__img img-responsive">
            <div class="movie-grid__title">{{movie.title}}</div>
            <div class="movie-grid__year">{{movie.year}}</div>
        </div>
    </div>
</div>